-var ids = tweets_id

doctype html
html
  head
    meta(charset="utf-8")
    link(rel='icon' href='pic/mp.ico' type='image/icon type')
    link(rel='stylesheet', href='/css/home.css')
    script(src='https://kit.fontawesome.com/d8697e016e.js' crossorigin='anonymous')
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="twitter:widgets:theme" content="light")
    meta(name="twitter:widgets:border-color" content="#55acee")
    title MarcoPolo
  body
    #main
        #data
            .tweets
                if !tweetError
                    each val in ids 
                        blockquote(class = "twitter-tweet")
                            a(href="https://twitter.com/x/status/"+val)
                else 
                    p= tweetMsgError           

            .covid
                .city
                  h1 Città:
                  h1= city
                .nation
                  h1 Nazione:
                  h1= nation
                .stats
                  h1 Casi:
                  h1= covidCases
                if isReg
                  h1 Regione
                  h1= regione
                  h1 Casi regionali:
                  h1= regCas
                  
        #maps
            h1 Qui ci va la mappa
            
    #back
      a(class="back-btn", href="https://localhost:8083") Fai un'altra ricerca! 
        i.fas.fa-redo
