-var ids = tweets_id

doctype html
html
  head
    meta(charset="utf-8")
    link(rel='icon' href='pic/mp.ico' type='image/icon type')
    link(rel='stylesheet', href='/css/home.css')
    script(src='https://kit.fontawesome.com/d8697e016e.js' crossorigin='anonymous')
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script(src="./js/maps.js") 
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="twitter:widgets:theme" content="light")
    meta(name="twitter:widgets:border-color" content="#55acee")
    title MarcoPolo
  body
    #main
      .tweets
          if !tweetError
              each val in ids 
                  blockquote(class = "twitter-tweet")
                      a(href="https://twitter.com/x/status/"+val)
          else 
              p= tweetMsgError       

      #maps

      .covid
          .city
            p(class="title") Città:
            p= city
          .nation
            p(class="title") Nazione:
            p= nation
          .stats
            p(class="title") Casi:
            p= covidCases
          if isReg
            .regionName
              p(class="title") Regione:
              p= regione
            .regionCases
              p(class="title") Casi regionali:
              p= regCas
                    
      #back
        a(class="back-btn", href="https://localhost:8083") Fai un'altra ricerca! 
          i.fas.fa-redo
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDTKbH0rBg9XMfpeQuM7WwJZL9AO300YhE&callback=initMap')
